trunk/gbif-eml-profile/eml-gbif-profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
  xmlns:eml="eml://ecoinformatics.org/eml-2.1.0"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  >
  <xs:import namespace="eml://ecoinformatics.org/eml-2.1.0" schemaLocation="eml.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="dataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="alternateIdentifier" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="title" maxOccurs="unbounded"/>
        <xs:element ref="creator"/>
        <xs:element ref="metadataProvider"/>
        <xs:element ref="associatedParty"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="pubDate"/>
        <xs:element ref="language" minOccurs="0"/>
        <xs:element ref="abstract"/>
        <xs:element ref="keywordSet"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="additionalInfo" minOccurs="0"/>
        <xs:element ref="intellectualRights" minOccurs="0"/>
        <xs:element ref="distribution" minOccurs="0"/>
        <xs:element ref="coverage" minOccurs="0"/>
        <xs:element ref="purpose" minOccurs="0"/>
        <xs:element ref="contact" minOccurs="0"/>
        <xs:element ref="methods" minOccurs="0"/>
        <xs:element ref="project" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alternateIdentifier" type="xs:string"/>
  <xs:element name="creator">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="individualName"/>
        <xs:element ref="organizationName"/>
        <xs:element ref="positionName" minOccurs="0"/>
        <xs:element ref="address" minOccurs="0"/>
        <xs:element ref="phone" minOccurs="0"/>
        <xs:element ref="electronicMailAddress" minOccurs="0"/>
        <xs:element ref="onlineUrl" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadataProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="individualName"/>
        <xs:element ref="address" minOccurs="0"/>
        <xs:element ref="electronicMailAddress" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="associatedParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="individualName"/>
        <xs:element ref="phone" minOccurs="0"/>
        <xs:element ref="role"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pubDate" type="xs:date"/>
  <xs:element name="language" type="xs:string"/>
  <xs:element name="abstract">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="keywordSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="keyword"/>
        <xs:element ref="keywordThesaurus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="keyword" type="xs:NCName"/>
  <xs:element name="keywordThesaurus" type="xs:string"/>
  <xs:element name="additionalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intellectualRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="coverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="geographicCoverage"/>
        <xs:element maxOccurs="unbounded" ref="temporalCoverage"/>
        <xs:element maxOccurs="unbounded" ref="taxonomicCoverage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geographicCoverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="geographicDescription"/>
        <xs:element ref="boundingCoordinates"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geographicDescription" type="xs:string"/>
  <xs:element name="boundingCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="westBoundingCoordinate"/>
        <xs:element ref="eastBoundingCoordinate"/>
        <xs:element ref="northBoundingCoordinate"/>
        <xs:element ref="southBoundingCoordinate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="westBoundingCoordinate" type="xs:decimal"/>
  <xs:element name="eastBoundingCoordinate" type="xs:decimal"/>
  <xs:element name="northBoundingCoordinate" type="xs:decimal"/>
  <xs:element name="southBoundingCoordinate" type="xs:decimal"/>
  <xs:element name="temporalCoverage">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="rangeOfDates"/>
        <xs:element ref="singleDateTime"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="rangeOfDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="beginDate"/>
        <xs:element ref="endDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="beginDate" type="calendarDate"/>
  <xs:element name="endDate" type="calendarDate"/>
  <xs:element name="singleDateTime" type="calendarDate"/>
  <xs:element name="taxonomicCoverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="generalTaxonomicCoverage"/>
        <xs:element ref="taxonomicClassification"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generalTaxonomicCoverage" type="xs:string"/>
  <xs:element name="taxonomicClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="taxonRankName"/>
        <xs:element ref="taxonRankValue"/>
        <xs:element ref="commonName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="taxonRankName" type="xs:NCName"/>
  <xs:element name="taxonRankValue" type="xs:NCName"/>
  <xs:element name="commonName" type="xs:NCName"/>
  <xs:element name="purpose">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="individualName"/>
        <xs:element ref="organizationName"/>
        <xs:element ref="positionName"/>
        <xs:element ref="address"/>
        <xs:element ref="phone"/>
        <xs:element ref="electronicMailAddress"/>
        <xs:element ref="onlineUrl"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="methods">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="methodStep"/>
        <xs:element ref="qualityControl"/>
        <xs:element ref="sampling"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="methodStep" type="description"/>
  <xs:element name="qualityControl" type="description"/>
  <xs:element name="sampling">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="studyExtent"/>
        <xs:element ref="samplingDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="studyExtent" type="description"/>
  <xs:element name="samplingDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="personnel"/>
        <xs:element ref="funding"/>
        <xs:element ref="studyAreaDescription"/>
        <xs:element ref="designDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="personnel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="individualName"/>
        <xs:element ref="role"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="funding">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="studyAreaDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="descriptor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="descriptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="descriptorValue"/>
      </xs:sequence>
      <xs:attribute name="citableClassificationSystem" use="optional" type="xs:boolean"/>
      <xs:attribute name="name" use="optional" type="descriptorEnum"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="descriptorEnum">
    <xs:restriction base="xs:NCName">
      <xs:enumeration value="thematic" />
      <xs:enumeration value="geographic" />
      <xs:enumeration value="generic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="descriptorValue" type="xs:string"/>
  <xs:element name="designDescription" type="description"/>
  <xs:element name="additionalMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="metadata"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <!-- additional general metadata -->
        <xs:element ref="metadataLanguage"/>
        <xs:element ref="physical"/>
        <!-- additional checklist metadata -->
        <xs:element ref="citation">
          <xs:annotation><xs:documentation>single citation for to use when citing the dataset</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="bibliography">
          <xs:annotation><xs:documentation>List of citations that form a bibliography on literature related / used in the dataset</xs:documentation></xs:annotation>
        </xs:element>
        <xs:element ref="resourceLogoUrl">
          <xs:annotation><xs:documentation>URL of the logo associated with a resource</xs:documentation></xs:annotation>
        </xs:element>
        <!-- additional NCD collection metadata -->
        <xs:element ref="collection"/>
        <xs:element ref="formationPeriod"/>
        <xs:element ref="hierarchyLevel"/>
        <xs:element ref="specimenPreservationMethod"/>
        <xs:element ref="livingTimePeriod"/>
        <xs:element ref="jgtiCuratorialUnit">
          <xs:annotation><xs:documentation>For quantifying natural history collections datasets</xs:documentation></xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibliography">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="citation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="citation" type="xs:string"/>
  <xs:element name="collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parentCollectionIdentifier"/>
        <xs:element ref="collectionIdentifier"/>
        <xs:element ref="collectionName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parentCollectionIdentifier" type="xs:NMTOKEN"/>
  <xs:element name="collectionIdentifier" type="xs:NMTOKEN"/>
  <xs:element name="collectionName" type="xs:NCName"/>
  <xs:element name="formationPeriod" type="xs:string"/>
  <xs:element name="hierarchyLevel" type="xs:string"/>
  <xs:element name="jgtiCuratorialUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="jgtiUnitType" type="xs:string"/>
        <xs:element ref="jgtiUnitRange"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jgtiUnitRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="beginRange"/>
        <xs:element ref="endRange"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="beginRange" type="xs:integer"/>
  <xs:element name="endRange" type="xs:integer"/>
  <xs:element name="livingTimePeriod" type="xs:string"/>
  <xs:element name="resourceLogoUrl" type="xs:anyURI"/>
  <xs:element name="metadataLanguage" type="xs:string"/>
  <xs:element name="physical">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="objectName"/>
        <xs:element ref="characterEncoding"/>
        <xs:element ref="dataFormat"/>
        <xs:element ref="distribution"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectName" type="xs:NCName"/>
  <xs:element name="characterEncoding" type="xs:NCName"/>
  <xs:element name="dataFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="externallyDefinedFormat"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="externallyDefinedFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="formatName"/>
        <xs:element ref="formatVersion"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="formatName" type="xs:NCName"/>
  <xs:element name="formatVersion" type="xs:decimal"/>
  <xs:element name="specimenPreservationMethod" type="xs:string"/>  
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="individualName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="givenName"/>
        <xs:element ref="surName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="givenName" type="xs:NCName"/>
  <xs:element name="surName" type="xs:NCName"/>
  <xs:element name="organizationName" type="xs:NCName"/>
  <xs:element name="positionName" type="xs:string"/>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="deliveryPoint"/>
        <xs:element ref="city"/>
        <xs:element ref="administrativeArea"/>
        <xs:element ref="postalCode"/>
        <xs:element ref="country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliveryPoint" type="xs:string"/>
  <xs:element name="city" type="xs:NCName"/>
  <xs:element name="administrativeArea" type="xs:NCName"/>
  <xs:element name="postalCode" type="xs:integer"/>
  <xs:element name="country" type="xs:NCName"/>
  <xs:element name="phone" type="xs:integer"/>
  <xs:element name="electronicMailAddress" type="xs:string"/>
  <xs:element name="onlineUrl" type="xs:anyURI"/>
  <xs:element name="role" type="xs:NCName"/>
  <xs:element name="para" type="xs:string"/>
  <xs:element name="distribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="online"/>
      </xs:sequence>
      <xs:attribute name="scope" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="online">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="url"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="url">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute name="function" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="calendarDate">
    <xs:sequence>
      <xs:element ref="calendarDate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="calendarDate" type="xs:NMTOKEN"/>
  <xs:complexType name="description">
    <xs:sequence>
      <xs:element ref="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="description">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="para"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
